In [1]:
from selenium import webdriver
import time
from selenium.webdriver.support.select import Select

import warnings
warnings.filterwarnings('ignore')

# Q1: Scrap first 10 Data's from naukri.com

In [2]:
driver = webdriver.Chrome(r'C:\Users\Nitin Patel\chromedriver_win32/chromedriver')
driver.get('https://www.naukri.com/')
driver.maximize_window()
time.sleep(5)

try:
    close_suggest = driver.find_element_by_xpath('/html/body/div/div[2]/div[4]/div/div[2]/div[2]/div[1]/div/div[1]/div').click()
except:
    pass

job_title = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
job_title.send_keys('Data Analyst')
time.sleep(3)

locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
locn.send_keys('Bangalore')
time.sleep(3)

close_chat = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[4]/div/div[2]/div[2]/div[1]/div[1]/div/i[2]')
close_chat.click()
time.sleep(3)

search = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[6]')
search.click()

In [3]:
job_title = []

title = driver.find_elements_by_xpath('//div[@class="info fleft"]/a')
for i in title:
    job_title.append(i.text)
    
job_title[0:10]

['Data Coordinator | Data Analyst | MS Excel | Typing | Bangalore',
 'software developer & Testing / Business Analyst/Data Analyst/Python.',
 'Staff Business Data Analyst - FDP',
 'Data Analyst - IIM/ISB/MDI/FMS/SP Jain',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Hiring For Data Analyst!!!',
 'Data Analyst',
 'Looking For Data Analyst']

In [4]:
company = []
name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in name:
    company.append(i.text)
company[0:10]

['Inspiration Manpower Consultancy Pvt. Ltd.',
 'SECRET TECHNOLOGIES INDIA VMS GROUP',
 'Intuit Inc.',
 'K12 Techno Services Pvt Ltd',
 'Capco',
 'Mobile Premier League',
 'Flipkart',
 'Ignitho',
 'SunEdison',
 'Trellance']

In [5]:
experience_req = []
experience = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
for i in experience:
    experience_req.append(i.text)
    
experience_req[0:10]

['0-4 Yrs',
 '5-7 Yrs',
 '4-9 Yrs',
 '4-8 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '0-2 Yrs',
 '1-6 Yrs']

In [6]:
job_location = []
location = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location:
    job_location.append(i.text)
job_location[0:10]

['Bangalore/Bengaluru(Sadashiva Nagar)',
 'Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Ahmedabad, Bangalore/Bengaluru']

In [7]:
import pandas as pd
Data_Analyst = pd.DataFrame({'Job_Title': job_title[0:10],
                             'Company':company[0:10],
                             'Experince':experience_req[0:10],
                            'Location':job_location[0:10]})
Data_Analyst 
#or
#Data_Analyst.head(10)

,Job_Title,Company,Experince,Location
0,Data Coordinator | Data Analyst | MS Excel | T...,Inspiration Manpower Consultancy Pvt. Ltd.,0-4 Yrs,Bangalore/Bengaluru(Sadashiva Nagar)
1,software developer & Testing / Business Analys...,SECRET TECHNOLOGIES INDIA VMS GROUP,5-7 Yrs,"Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumb..."
2,Staff Business Data Analyst - FDP,Intuit Inc.,4-9 Yrs,Bangalore/Bengaluru
3,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,K12 Techno Services Pvt Ltd,4-8 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst,Capco,3-6 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Mobile Premier League,3-6 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst,Flipkart,3-8 Yrs,Bangalore/Bengaluru
7,Hiring For Data Analyst!!!,Ignitho,2-7 Yrs,"Chennai, Bangalore/Bengaluru\n(WFH during Covid)"
8,Data Analyst,SunEdison,0-2 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
9,Looking For Data Analyst,Trellance,1-6 Yrs,"Ahmedabad, Bangalore/Bengaluru"

## Different approach having the same tag

In [8]:
loc1 = driver.find_elements_by_xpath('//ul[@class="mt-7"]')
loc1

[<selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="65476c9c-0ae9-423b-b09c-2c550904327c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="916ac2b8-155b-4672-9d1f-aaee4c7e8556")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="eb216315-9a38-46e4-bc38-dfe5e2621065")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="b212aa10-b3d7-42b6-a370-4199cea0ab7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="08192d59-f05c-4735-9bd7-2914bfc77c7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="85dd2da7-3547-41a8-81fc-104305346cb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="f29a1ddd-d4d1-4a2e-a70b-b5d7c0dd61d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="28c8a952-0a96-480c-8e9c-fa9fbaca9c96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="74c8e176-c562-4186-af30-65778febc155")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="3b4bfeb6-98a4-4569-b959-53d19b0ac588")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="96c8235e-ea3d-435b-8d43-4328f5af4cca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="540ac418-95c1-4df1-ac76-e01c9b27f6ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="65fec17c-d55f-4565-947a-90bc4d280106")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="905ccea8-aa4d-4912-af6a-69ff44c28580")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="5f7eff3b-ccda-4ba7-8491-2e0f730e60e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="15a06933-dc27-4ebb-933f-557362c29edb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="a88666e6-35d4-407d-a396-7a7a7addd4a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="5dbab9e4-a906-4af0-b6ec-d34e1bb78b27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="448cbee7-6d89-4499-98ff-895f0b1c861e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bca2da0d53f24932435150164c428e5d", element="1afeb1c6-8fc5-4a8e-9e9d-9699315172ac")>]

In [9]:
tloc = loc1[0]
print('Experience:',tloc.find_elements_by_tag_name('li')[-3].text)
print('Salary:',tloc.find_elements_by_tag_name('li')[-2].text)
print('Location:',tloc.find_elements_by_tag_name('li')[-1].text)

Experience: 15 March - 21 March
Salary: 1,00,000 - 2,50,000 PA.
Location: Bangalore/Bengaluru(Sadashiva Nagar)

In [10]:
exper =[]
Salary =[]
locate = []
for i in range(len(loc1)):
    tloc = loc1[i]
    exper.append(tloc.find_elements_by_tag_name('li')[-3].text)
    Salary.append(tloc.find_elements_by_tag_name('li')[-2].text)
    locate.append(tloc.find_elements_by_tag_name('li')[-1].text)
    
exper
Salary
locate

['Bangalore/Bengaluru(Sadashiva Nagar)',
 'Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Ahmedabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Residency Road)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Hebbal Kempapura)\n(WFH during Covid)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

# Q2. Scrap first 10 Data from naukri.com

In [11]:
driver = webdriver.Chrome(r'C:\Users\Nitin Patel\chromedriver_win32/chromedriver')
driver.get('https://www.naukri.com/')
time.sleep(3)
driver.maximize_window()
time.sleep(5)

#Entering field of job-title
job_title = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
job_title.send_keys('Data Scientist')
time.sleep(3)

#closing suggestion for job-search box
try:
    close_suggest = driver.find_element_by_xpath('/html/body/div/div[2]/div[4]/div/div[2]/div[2]/div[1]/div/div[1]/div').click()
except:
    pass
time.sleep(4)

#Entering Location
locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
locn.send_keys('Bangalore')
time.sleep(3)

#closing chatbot pop-up
try:
    close_chat = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[4]/div/div[2]/div[2]/div[1]/div[1]/div/i[2]')
    close_chat.click()
except:
    pass
time.sleep(3)

#Clicking search button
search = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[6]')
search.click()

In [21]:
job_title = []
title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title:
    job_title.append(i.text)
job_title

['Data Scientist',
 'Data Scientist',
 'Senior/ Lead Data Scientist',
 'Data Scientist / Analyst',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Junior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr. Data Scientist, Digital Services Analytics',
 'HCL Tech Opening - Senior Data Scientist',
 'Cognitive/AI Senior Data Scientist',
 'Sr. Product Data Scientist',
 'Data Scientist II- Merchandise & Discovery',
 'Virtusa Hiring DATA Scientist- PAN India']

In [23]:
company_name = []
name = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

for i in name:
    company_name.append(i.text)
company_name

['HDFC Bank',
 'Shell',
 'AmoliTalents',
 'open data fabric',
 'Concentrix',
 'NTT Data',
 'Titan',
 'Amazon',
 'Hewlett-Packard (HP)',
 'Shell',
 'Master Mind Consultancy',
 'newscorp',
 'Walmart',
 'Precisely',
 'Dell',
 'HCL',
 'IBM',
 'Uber',
 'Swiggy',
 'Virtusa']

In [26]:
salary = []
wage = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')

for i in wage:
    salary.append(i.text)
    
salary

['14,00,000 - 24,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '3,50,000 - 5,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '13,00,000 - 23,00,000 PA.']

In [28]:
location = []
where = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

for i in where:
    location.append(i.text)
location

['Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)']

In [29]:
import pandas as pd
Data_Scientist = pd.DataFrame({'Job_Title':job_title[0:10],
                               'Company':company_name[0:10],
                               'Salary':salary[0:10],
                               'Location':location[0:10]})
Data_Scientist

,Job_Title,Company,Salary,Location
0,Data Scientist,HDFC Bank,"14,00,000 - 24,00,000 PA.","Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."
1,Data Scientist,Shell,Not disclosed,Bangalore/Bengaluru
2,Senior/ Lead Data Scientist,AmoliTalents,Not disclosed,Bangalore/Bengaluru
3,Data Scientist / Analyst,open data fabric,Not disclosed,Bangalore/Bengaluru
4,Forecasting Analyst/ Data Scientist (US Client),Concentrix,Not disclosed,"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du..."
5,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,"3,50,000 - 5,00,000 PA.","Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
6,Junior Data Scientist,Titan,Not disclosed,Bangalore/Bengaluru
7,Data Scientist,Amazon,Not disclosed,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru"
8,Data Scientist,Hewlett-Packard (HP),Not disclosed,Bangalore/Bengaluru
9,Data Scientist,Shell,Not disclosed,Bangalore/Bengaluru

# Q3. Scrap Data Using Filters

In [30]:
driver = webdriver.Chrome(r'C:\Users\Nitin Patel\chromedriver_win32/chromedriver')
driver.get('https://www.naukri.com/')
time.sleep(3)
driver.maximize_window()
time.sleep(5)

#Entering field of job-title
job_title = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
job_title.send_keys('Data Scientist')
time.sleep(3)

#closing chatbot pop-up
try:
    close_chat = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[4]/div/div[2]/div[2]/div[1]/div[1]/div/i[2]')
    close_chat.click()
except:
    pass
time.sleep(3)

#Clicking search button
search = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[6]')
search.click()

In [31]:
filter_loc = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
filter_loc.click()
time.sleep(2)

filter_salary = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
filter_salary.click()

In [33]:
job_title = []
title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title:
    job_title.append(i.text)

In [34]:
company_name = []
name = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in name:
    company_name.append(i.text)

In [35]:
job_location =[]
locate = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in locate:
    job_location.append(i.text)
job_location

['Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida, New Delhi, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Noida',
 'Noida, Pune, Mumbai (All Areas)',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Delhi / NCR\n(WFH during Covid)',
 'Noida, Delhi / NCR',
 'New Delhi',
 'Noida',
 'Delhi',
 'New Delhi',
 'Noida, New Delhi, Bangalore Rural, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Gurgaon, Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Delhi',
 'Delhi',
 'Gurgaon/Gurugram']

In [36]:
job_experience = []
exper = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exper:
    job_experience.append(i.text)
len(job_experience)

20

In [38]:
DataSc_filter = pd.DataFrame({'Job Title':job_title,'Company':company_name,'Experience Required':job_experience,
                             'Location':job_location})
DataSc_filter.head(10)

,Job Title,Company,Experience Required,Location
0,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,0-0 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
1,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Delhi / NCR"
2,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
3,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
4,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
5,Hiring For Data Scientist,Lumiq.ai,2-7 Yrs,"Noida, Pune, Mumbai (All Areas)"
6,Only Fresher / Python Data Scientist / Trainee...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
7,Lead Data Scientist,Indihire HR Consultants Private Limited,2-4 Yrs,Delhi / NCR\n(WFH during Covid)
8,Urgent Requirement || Data Scientist || Noida,HCL,3-8 Yrs,"Noida, Delhi / NCR"
9,Data Scientist,Boston Consulting Group,2-5 Yrs,New Delhi

# Q4. Scrap first 100 Datas from flipkart.com

In [50]:
driver = webdriver.Chrome(r'C:\Users\Nitin Patel\chromedriver_win32\chromedriver')
driver.get('https://www.flipkart.com/')
time.sleep(2)
driver.maximize_window()
time.sleep(1)

In [51]:
search = driver.find_element_by_xpath('//input[@class="_3704LK"]')
search.send_keys('Sunglasses')
time.sleep(2)

search_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [56]:
page_url = []
pages = driver.find_elements_by_xpath('//nav[@class="yFHi8N"]/a')
for i in pages:
    page_url.append(i.get_attribute('href'))
    #pages[0].get_attribute('href')
    
page_url

['https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2']

In [71]:
brand = []
for k in page_url[0:3]:
    driver.get(k)
    name = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in name:
        brand.append(i.text)
len(brand)

120

In [74]:
prod_info = []
for k in page_url[0:3]:
    driver.get(k)
    snip = driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]')
    for i in snip:
        prod_info.append(i.text)
    
len(prod_info)

120

In [66]:
price = []
for k in page_url[0:3]:
    driver.get(k)
    later = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in later:
        price.append(i.text)

In [69]:
discount = []
for k in page_url[0:3]:
    driver.get(k)
    off = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')
    for i in off:
        discount.append(i.text)

In [75]:
Sunglasses = pd.DataFrame({'Brand Name':brand,
                          'Product Description': prod_info,
                          'Price after Discount':price,
                          'Discount Applied': discount})
Sunglasses

,Brand Name,Product Description,Price after Discount,Discount Applied
0,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹349,82% off
1,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹625,75% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹148,88% off
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹203,84% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹179,88% off
...,...,...,...,...
115,Singco India,"UV Protection, Gradient Wayfarer Sunglasses (58)",₹231,88% off
116,ROYAL SON,"UV Protection, Mirrored Wayfarer Sunglasses (F...",₹329,78% off
117,Fastrack,"UV Protection, Gradient Wayfarer Sunglasses (53)",₹699,22% off
118,GANSTA,"Mirrored, Gradient, Riding Glasses Round Sungl...",₹281,85% off
119,ROZZETTA CRAFT,"Polarized, Night Vision, Riding Glasses Sports...",₹391,88% off

# Q5. Scrap 100 reviews

In [18]:
driver = webdriver.Chrome(r'C:\Users\Nitin Patel\chromedriver_win32/chromedriver')
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.')
time.sleep(3)
driver.maximize_window()

In [19]:
open_review = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]/span')
open_review.click()

In [20]:
pages_url = []
link = driver.find_elements_by_xpath('//nav[@class="yFHi8N"]/a')
for i in link:
    pages_url.append(i.get_attribute('href'))
pages_url

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=2']

In [87]:
full_info = []
abc = driver.find_elements_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-9-12"]//div//div//div//div//div[@class="row"]//div')
for i in abc:
    full_info.append(i.text)
full_info[12:196]

['',
 '',
 '',
 '1',
 'Products damage',
 'Products damage',
 'Products damage',
 '',
 '4010',
 '40',
 '10',
 '',
 '',
 '',
 '',
 '5',
 'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi...\nREAD MORE',
 'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi...\nREAD MORE',
 'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi...',
 '',
 '265105',
 '265',
 '105',
 '',
 '',
 '',
 '',
 '5',
 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 '',
 '111',
 '11',
 '1',
 '',
 '',
 '',
 '',
 '1',
 'New Phone worked for 2 weeks. After it gone dead without any reason and unfortunately lockdown hence at repair center for last 2 weeks. There were a exchange offer for old phone but they deducted amount saying one scratch on edge of old phone, infact any phone if u use for 1 month, if u use ring on ur finger it will come. It was not at all visible. The display, battery, performance for the old phone was perfect, still they deducted. With this experience i suggest you to buy phones from author...\nREAD MORE',
 'New Phone worked for 2 weeks. After it gone dead without any reason and unfortunately lockdown hence at repair center for last 2 weeks. There were a exchange offer for old phone but they deducted amount saying one scratch on edge of old phone, infact any phone if u use for 1 month, if u use ring on ur finger it will come. It was not at all visible. The display, battery, performance for the old phone was perfect, still they deducted. With this experience i suggest you to buy phones from author...\nREAD MORE',
 'New Phone worked for 2 weeks. After it gone dead without any reason and unfortunately lockdown hence at repair center for last 2 weeks. There were a exchange offer for old phone but they deducted amount saying one scratch on edge of old phone, infact any phone if u use for 1 month, if u use ring on ur finger it will come. It was not at all visible. The display, battery, performance for the old phone was perfect, still they deducted. With this experience i suggest you to buy phones from author...',
 '',
 '183',
 '18',
 '3',
 '',
 '',
 '',
 '',
 '5',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.\n\nAnd I’m posting this review after using it for 4 days.',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.\n\nAnd I’m posting this review after using it for 4 days.',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.\n\nAnd I’m posting this review after using it for 4 days.',
 '',
 '8229',
 '82',
 '29',
 '',
 '',
 '',
 '',
 '5',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...\nREAD MORE',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...\nREAD MORE',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...',
 '',
 '13855',
 '138',
 '55',
 '',
 '',
 '',
 '',
 '5',
 'This is my first ever iPhone.\nAnd I truly don’t regret switching to IOS from my Android.\n\nIt is easily an alternative to a DSLR camera.\nIf you’re obsessed with photos and videos, just don’t think twice or don’t compare to other androids(Samsung S10 lite or OnePlus 8/8T), as it’s far better from them in every field.\nComparing will only make you confused.\n\nI am getting an average Screen on Time of around 10 hours with 30 percent left. I haven’t let my device discharged below 30 % as it aff...\nREAD MORE',
 'This is my first ever iPhone.\nAnd I truly don’t regret switching to IOS from my Android.\n\nIt is easily an alternative to a DSLR camera.\nIf you’re obsessed with photos and videos, just don’t think twice or don’t compare to other androids(Samsung S10 lite or OnePlus 8/8T), as it’s far better from them in every field.\nComparing will only make you confused.\n\nI am getting an average Screen on Time of around 10 hours with 30 percent left. I haven’t let my device discharged below 30 % as it aff...\nREAD MORE',
 'This is my first ever iPhone.\nAnd I truly don’t regret switching to IOS from my Android.\n\nIt is easily an alternative to a DSLR camera.\nIf you’re obsessed with photos and videos, just don’t think twice or don’t compare to other androids(Samsung S10 lite or OnePlus 8/8T), as it’s far better from them in every field.\nComparing will only make you confused.\n\nI am getting an average Screen on Time of around 10 hours with 30 percent left. I haven’t let my device discharged below 30 % as it aff...',
 '',
 '142',
 '14',
 '2',
 '',
 '',
 '',
 '',
 '5',
 'Amazing camera and feel super machine I am not describe my feeling but this is amazing Phone I am so lucky I have this',
 'Amazing camera and feel super machine I am not describe my feeling but this is amazing Phone I am so lucky I have this',
 'Amazing camera and feel super machine I am not describe my feeling but this is amazing Phone I am so lucky I have this',
 '',
 '12051',
 '120',
 '51',
 '',
 '',
 '',
 '',
 '5',
 'Superfast delivery by Flipkart. Thanks.\n\n1. iPhone 11 is a pretty solid phone for the money you are paying.\n2. All the bad reviews about the display is confusing. It’s not that bad.\n3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.\n4. Performance is one of the best, if not best, in ...\nREAD MORE',
 'Superfast delivery by Flipkart. Thanks.\n\n1. iPhone 11 is a pretty solid phone for the money you are paying.\n2. All the bad reviews about the display is confusing. It’s not that bad.\n3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.\n4. Performance is one of the best, if not best, in ...\nREAD MORE',
 'Superfast delivery by Flipkart. Thanks.\n\n1. iPhone 11 is a pretty solid phone for the money you are paying.\n2. All the bad reviews about the display is confusing. It’s not that bad.\n3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.\n4. Performance is one of the best, if not best, in ...',
 '',
 '4113',
 '41',
 '13',
 '',
 '',
 '',
 '']

In [88]:
len(full_info)

123

In [90]:
#sooooooo difficult to get the rating
xyz = []
for k in (pages_url):
    driver.get(k)
    for i in range(3,112,12):
        xyz.append(full_info[i])
xyz

['5',
 '1',
 '5',
 '5',
 '1',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '1',
 '5',
 '5',
 '1',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '1',
 '5',
 '5',
 '1',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '1',
 '5',
 '5',
 '1',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '1',
 '5',
 '5',
 '1',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '1',
 '5',
 '5',
 '1',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '1',
 '5',
 '5',
 '1',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '1',
 '5',
 '5',
 '1',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '1',
 '5',
 '5',
 '1',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '1',
 '5',
 '5',
 '1',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '1',
 '5',
 '5',
 '1',
 '5',
 '5',
 '5',
 '5',
 '5']

In [91]:
len(xyz)

110

In [93]:
Summary = []
for k in pages_url[0:11]:
    driver.get(k)
    short = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i in short:
        Summary.append(i.text)
len(Summary)

110

In [94]:
Review = []
for k in pages_url:
    driver.get(k)
    full_review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in full_review:
        Review.append(i.text)
len(Review)

110

In [96]:
import pandas as pd
iphone_11 = pd.DataFrame({'Rating':xyz,
                         'Review Summary':Summary,
                         'Full Review': Review})
iphone_11

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,1,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,1,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
105,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
106,5,Classy product,Totally in love with this ❤ the camera quality...
107,5,Worth every penny,It’s been almost a month since I have been usi...
108,5,Terrific,Really worth of money. i just love it. It is t...
109,5,Wonderful,This is my first ever I phone. Before this I w...

# Q6. Scrape 100 data from flipkart

In [128]:
driver = webdriver.Chrome(r'C:\Users\Nitin Patel\chromedriver_win32/chromedriver')
driver.get('https://www.flipkart.com/')
time.sleep(2)
driver.maximize_window()

In [130]:
enter = driver.find_element_by_xpath('//input[@class="_3704LK"]').send_keys('sneakers')
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [131]:
pages_url = []
page_els = driver.find_elements_by_xpath('//nav[@class="yFHi8N"]/a')
for i in page_els:
    pages_url.append(i.get_attribute('href'))
    
len(pages_url)

11

In [132]:
Brand = []
for k in pages_url[0:3]:
    driver.get(k)
    company = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in company:
        Brand.append(i.text)
len(Brand)

120

In [138]:
Description = []
for k in pages_url[0:3]:
    driver.get(k)
    descr = driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]')
    for i in descr:
        Description.append(i.text)
len(Description)

120

In [139]:
Price = []
for k in pages_url[0:3]:
    driver.get(k)
    tag = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in tag:
        Price.append(i.text)
len(Price)

120

In [140]:
Discount = []
for k in pages_url[0:3]:
    driver.get(k)
    off = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')
    for i in off:
        Discount.append(i.text)
len(Discount)

120

In [143]:
Sneakers = pd.DataFrame({'Company':Brand,
                         'Description':Description,
                         'Price':Price,
                         'Discount Applied':Discount})
Sneakers.head(10)

,Company,Description,Price,Discount Applied
0,BRUTON,Sneakers For Men,₹599,80% off
1,BRUTON,Kwik FIT casual sneaker shoes and partywear sh...,₹347,82% off
2,Magnolia,Sneakers For Men,₹327,67% off
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹501,68% off
4,TR,Sneakers For Men,₹272,72% off
5,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹209,83% off
6,Magnolia,Sneakers For Men,₹327,67% off
7,BRUTON,Sneakers For Men,₹476,46% off
8,KWIK FIT,Series 7 Sneakers For Men,₹394,60% off
9,Kraasa,Kwik FIT casual sneaker shoes and partywear sh...,₹349,82% off

# Q7. Scrap 100 data using filter from myntra.com

In [147]:
driver = webdriver.Chrome(r'C:\Users\Nitin Patel\chromedriver_win32/chromedriver')
driver.get('https://www.myntra.com/shoes')
time.sleep(2)
driver.maximize_window()

In [148]:
filter_1 = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
filter_1.click()
time.sleep(1)

filter_2 = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
filter_2.click()
time.sleep(1)

In [149]:
Pages = []
url = driver.find_elements_by_xpath('//ul[@class="pagination-container"]/li/a')
for i in url:
    Pages.append(i.get_attribute('href'))
len(Pages)

11

In [151]:
Brand = []
for k in Pages[0:2]:
    driver.get(k)
    name = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for i in name:
        Brand.append(i.text)
    
len(Brand)

100

In [152]:
Description = []
for k in Pages[0:2]:
    driver.get(k)
    short = driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for i in short:
        Description.append(i.text)
len(Description)

100

In [166]:
Price = []
for k in Pages[0:2]:
    driver.get(k)
    mrp = driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]')
    for i in mrp:
        Price.append(i.text[0:9])
len(Price)

100

In [167]:
Black_shoes = pd.DataFrame({'Company':Brand,
                            'Description':Description,
                            'MRP':Price})
Black_shoes.head(10)

        Company                        Description        MRP
0          Nike         Men Winflo 7 Running Shoes   Rs. 7995
1          ALDO               Men Printed Sneakers  Rs. 9099R
2          ALDO          Men Leather Driving Shoes  Rs. 12999
3          Puma      Electrify Nitro Running Shoes   Rs. 9999
4          ALDO          Men Woven Design Sneakers  Rs. 13999
5          Puma       Eternity Nitro Running Shoes  Rs. 12999
6          Puma      Men Jamming 2.0 Running Shoes  Rs. 12999
7  Hush Puppies  Men Solid Leather Formal Slip-Ons  Rs. 7649R
8          Puma          Men Training or Gym Shoes   Rs. 7999
9          Puma         Women Eternity NITRO Shoes  Rs. 9099R

# Q8. Scrape 10 Data from Amazon

In [97]:
driver= webdriver.Chrome(r'C:\Users\Nitin Patel\chromedriver_win32/chromedriver')
driver.get('https://www.amazon.in/')
time.sleep(2)
driver.maximize_window()

In [98]:
search = driver.find_element_by_id('twotabsearchtextbox')
search.send_keys('Laptop')
time.sleep(1)

go = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]/input')
go.click()

In [101]:
filter_1 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[11]/span')
filter_1.click()
time.sleep(2)

In [102]:
Item = []
Product = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a/span')
for i in Product[0:11]:
    Item.append(i.text)
len(Item)

11

In [198]:
Ratings = []
star = driver.find_elements_by_class_name('a-icon-alt')
for i in star[0:11]:
    Ratings.append(i.text)
Ratings

['', '', '', '', '', '', '', '', '', '', '']

In [107]:
give = []
fjk = driver.find_elements_by_class_name('a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom')
for i in fjk:
    give.append(i.text)
give

[]

In [194]:
Price = []
mrp = driver.find_elements_by_xpath('//div[@class="a-row a-size-base a-color-base"]/a/span[1]')
for i in mrp[0:11]:
    Price.append(i.text)
Price

['₹85,990',
 '₹96,999',
 '₹77,499',
 '₹57,490',
 '₹89,990',
 '₹89,990',
 '₹88,990',
 '₹87,990',
 '₹96,999',
 '₹92,990',
 '₹83,990']

In [184]:
icore_7 = pd.DataFrame({'Product Info': Item,
                        'Average Rating': Ratings,
                        'Price': Price})
icore_7

                                         Product Info Average Rating    Price
0   LG Gram 16 Ultra-Light Intel Evo 11th Gen Core...                 ₹85,990
1   LG Gram Intel Evo 11th Gen Core i7 17 inches U...                 ₹96,999
2   Mi Notebook Ultra 3.2K Resolution Display Inte...                 ₹77,499
3   ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...                 ₹57,490
4   Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...                 ₹89,990
5   ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...                 ₹89,990
6   LG Gram 14 Intel Evo 11th Gen Core i7 14 inche...                 ₹88,990
7   Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...                 ₹87,990
8   LG Gram Intel Evo 11th Gen Core i7 17 inches U...                 ₹96,999
9   ASUS ZenBook 13 OLED (2021) Intel Core i7-1165...                 ₹92,990
10  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...                 ₹83,990

In [180]:
clear_filter_1 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[1]/span/a/span[2]')
clear_filter_1.click()
time.sleep(2)

filter_2 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/div/label/i')
filter_2.click()

In [183]:
Item_2 = []
name = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a/span')
for i in name:
    Item_2.append(i.text)
len(Item_2)

11

In [182]:
Price_2 = []
stars = driver.find_elements_by_xpath('//div[@class="a-row a-size-base a-color-base"]/a/span[1]')
for i in stars:
    Price_2.append(i.text)
len(Price_2)

11

In [200]:
icore_9 = pd.DataFrame({'Product_Info': Item_2,
                       'Price': Price_2})
icore_9

                                         Product_Info      Price
0   ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  ₹1,48,990
1   ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  ₹1,43,990
2   ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  ₹1,54,879
3   HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...  ₹2,32,000
4   (Renewed) HP Omen 15-dh0139TX Gaming Laptop (9...  ₹1,38,000
5   HP ZBook Power G8/ Intel Core i9-11950H 2.5GHz...  ₹2,93,000
6   ASUS ROG Strix Scar 17 (2022), 17.3-inch (43.9...  ₹2,62,860
7   ASUS ROG Strix SCAR 15 (2022), 15.6-inch (39.6...  ₹2,99,990
8   ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.6...  ₹2,64,990
9   (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...  ₹1,72,000
10  Dell Precision 5550 || i9 -10885H || 16GB || 1...  ₹2,25,000

# Q9. Find first 10 data from ambitionbox.com

In [201]:
driver = webdriver.Chrome(r'C:\Users\Nitin Patel\chromedriver_win32/chromedriver')
driver.get('https://www.ambitionbox.com/')
time.sleep(2)
driver.maximize_window()

In [214]:
#Entering the designation in searchbox
search = driver.find_element_by_xpath('//input[@class="input tt-input"]')
search.send_keys('Data Scientist')

#Clicking on the Search button
find = driver.find_element_by_xpath('//button[@class="ab_btn search-btn round"]')
find.click()
time.sleep(2)

#Select filter 'Location'
filter_locate = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
filter_locate.click()
time.sleep(1)

#Select 'Noida' from the 'Location'
select_filter = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label')
select_filter.click()

In [215]:
Company = []
cmp_tag = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
for i in cmp_tag:
    Company.append(i.text)
len(Company)

10

In [219]:
Ratings = []
rate_tag = driver.find_elements_by_xpath('//span[@class="body-small"]')
for i in rate_tag:
    Ratings.append(i.text)
Ratings

['4.2', '3.9', '4.1', '4.2', '4.0', '3.8', '3.8', '3.7', '3.7', '3.9']

In [221]:
Job_Posted = []
post_tag = driver.find_elements_by_xpath('//div[@class="other-info"]/span[1]')
for i in post_tag:
    Job_Posted.append(i.text)
len(Job_Posted)

10

In [222]:
Data_Scientist = pd.DataFrame({'Company': Company,
                               'Ratings': Ratings,
                               'Job Posted': Job_Posted})
Data_Scientist

                                             Company Ratings Job Posted
0        Amazon Development Centre (India) Pvt. Ltd.     4.2     7d ago
1  NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED     3.9     8d ago
2         Concentrix Services India Private Limited.     4.1    18d ago
3                                 Franklin Templeton     4.2     3d ago
4                                            Genpact     4.0    14d ago
5                     Sutherland Global Services Inc     3.8     3d ago
6                               HCL Technologies Ltd     3.8    17d ago
7                                     Cyient Limited     3.7   22hr ago
8                                     Cyient Limited     3.7   22hr ago
9                                      Wipro Limited     3.9   1mon ago

# Q10. Scrape 10 Data from ambitionbox.com

In [2]:
driver = webdriver.Chrome(r'C:\Users\Nitin Patel\chromedriver_win32/chromedriver')
driver.get('https://www.ambitionbox.com/')
time.sleep(2)
driver.maximize_window()

In [3]:
#clicking on Salaries Comparison box
main_box = driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[4]')
main_box.click()

In [4]:
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By

In [5]:
#searching Data Scientist in job profiles
search = driver.find_element(By.ID,'jobProfileSearchbox')
search.send_keys('Data')
time.sleep(1)

In [6]:
company = []
cmp_tag = driver.find_elements_by_xpath('//div[@class="company-info"]//a')
for i in cmp_tag:
    company.append(i.text)
company

['Ab Inbev',
 'ZS',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions',
 'Ericsson',
 'Deloitte']

In [7]:
salary_record = []
salary_tag = driver.find_elements_by_xpath('//div[@class="result-col"]//div[@class="company-info"]//div[1]//span[1]')
for i in salary_tag:
    salary_record.append(i.text)
salary_record

['based on 28 salaries',
 'based on 15 salaries',
 'based on 25 salaries',
 'based on 77 salaries',
 'based on 33 salaries',
 'based on 52 salaries',
 'based on 14 salaries',
 'based on 13 salaries',
 'based on 43 salaries',
 'based on 57 salaries']

In [29]:
experience_req = []
work_duration = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
for i in work_duration:
    experience_req.append(i.text[19:])
experience_req

['3-4 yrs exp',
 '2 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '4 yrs exp',
 '4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp']

In [31]:
average_salary = []
avg_tag = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for i in avg_tag:
    average_salary.append(i.text)
average_salary

['₹ 26.6L',
 '₹ 23.3L',
 '₹ 21.2L',
 '₹ 21.1L',
 '₹ 21.1L',
 '₹ 20.1L',
 '₹ 19.6L',
 '₹ 19.4L',
 '₹ 19.1L',
 '₹ 18.7L']

In [32]:
minimum_salary = []
min_tag = driver.find_elements_by_xpath('//div[@class="salary-values"]//div[1]')
for i in min_tag:
    minimum_salary.append(i.text)
minimum_salary

['₹ 10.4L',
 '₹ 13.0L',
 '₹ 12.0L',
 '₹ 12.5L',
 '₹ 7.5L',
 '₹ 12.0L',
 '₹ 12.0L',
 '₹ 8.0L',
 '₹ 10.1L',
 '₹ 12.0L']

In [33]:
max_salary = []
max_tag = driver.find_elements_by_xpath('//div[@class="salary-values"]//div[2]')
for i in max_tag:
    max_salary.append(i.text)
max_salary

['₹ 40.0L',
 '₹ 45.0L',
 '₹ 30.0L',
 '₹ 32.0L',
 '₹ 31.0L',
 '₹ 30.0L',
 '₹ 26.0L',
 '₹ 43.0L',
 '₹ 32.5L',
 '₹ 30.0L']

In [35]:
import pandas as pd
Data_Scientist = pd.DataFrame({'Company': company,
                               'Experience Required': experience_req,
                               'Average Salary': average_salary,
                               'Max Salary': max_salary,
                               'Min Salary': minimum_salary,
                               'Salary Record': salary_record})
Data_Scientist

,Company,Experience Required,Average Salary,Max Salary,Min Salary,Salary Record
0,Ab Inbev,3-4 yrs exp,₹ 26.6L,₹ 40.0L,₹ 10.4L,based on 28 salaries
1,ZS,2 yrs exp,₹ 23.3L,₹ 45.0L,₹ 13.0L,based on 15 salaries
2,Optum,3-4 yrs exp,₹ 21.2L,₹ 30.0L,₹ 12.0L,based on 25 salaries
3,Fractal Analytics,2-4 yrs exp,₹ 21.1L,₹ 32.0L,₹ 12.5L,based on 77 salaries
4,Tiger Analytics,3-4 yrs exp,₹ 21.1L,₹ 31.0L,₹ 7.5L,based on 33 salaries
5,UnitedHealth,2-4 yrs exp,₹ 20.1L,₹ 30.0L,₹ 12.0L,based on 52 salaries
6,Verizon,4 yrs exp,₹ 19.6L,₹ 26.0L,₹ 12.0L,based on 14 salaries
7,Ganit Business Solutions,4 yrs exp,₹ 19.4L,₹ 43.0L,₹ 8.0L,based on 13 salaries
8,Ericsson,3-4 yrs exp,₹ 19.1L,₹ 32.5L,₹ 10.1L,based on 43 salaries
9,Deloitte,2-4 yrs exp,₹ 18.7L,₹ 30.0L,₹ 12.0L,based on 57 salaries